
<h2 class="header">New User SignIn form</h2>


<form accept-charset="UTF-8" action="/login" data-remote="true" method="post" class="signup-form bg-primary">
  <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />

  <label for="" class="label">SignIn with your ID:</label> <br>
  <input type="text" name="id" id="" placeholder="e.g: 0"> <br>
  <button type="submit">SignIn</button>
</form>