
<h2 class="header">New User SignUp form</h2>

<form accept-charset="UTF-8" action="<%= users_path %>" data-remote="true" method="post" class="signup-form bg-primary">
  <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
  <label for="name" class="name-label">Enter you name:</label> <br>
  <input type="text" name="name" id="" placeholder="John Smith"> <br>
  <button type="submit">SignUp</button>
</form>