

<form action="<%= users_path %>" method="POST" class="signup-form bg-primary">
  <label for="name">name</label> <br>
  <input type="text" name="name" id="" placeholder="John Smith"> <br>
  <button type="submit">Submit</button>
</form>